<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Toko Sementara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toko Sementara</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-card *ngFor="let produks of produk; let i = index">
      <img alt="Silhouette of mountains" src="{{produks.url_gambar}}" />
      <ion-card-header>
        <ion-card-title>{{produks.nama}}</ion-card-title>
        <ion-card-subtitle>Rp. {{produks.harga}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ini penjelasan produk
      </ion-card-content>
      <ion-button shape="round" (click)="addToCart(i)">
        Tambah
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
