<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Opsional Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Opsional Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <ion-list *ngFor="let key of keys">
        <p>{{key}}</p>
        <ion-item *ngFor="let option of data_opsi[key]">
          <div>
            <ion-checkbox
              justify="space-between"
              [checked]="selectedOptions[key][option]"
              (ionChange)="onCheckboxChange(key, option)"
            >
              {{ option }}
            </ion-checkbox>
          </div>
          <br />
        </ion-item>
      </ion-list>
      <ion-button
        (click)="getSelectedValues()"
        expand="block"
        shape="round"
      >
        Tambahkan Keranjang
      </ion-button>
    </div>
  </ion-content>
</ion-content>
