<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-list>
      <div class="content-top">
        <p><span class="top-txt">Selamat Datang!</span></p>
        <p><span class="bot-txt">Pesan Makanan di Kantin dari Kelas!</span></p>
      </div>
      <div class="content-pembeli">
        <ion-item class="mt-5">
          <ion-label>Username</ion-label>
          <ion-input
            [(ngModel)]="new_username"
            label="Username"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Password</ion-label>
          <ion-input
            [(ngModel)]="new_password"
            label="Password"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>
        
        <ion-button
          style="margin: 20px 13px 0px 13px"
          expand="block"
          (click)="loginPembeli()"
          shape="round"
        >
          LOGIN
        </ion-button>
        <p style="font-weight: bold;">Ingin rasakan nikmatnya Rinjani? <span routerLink="/register" style="color: blue;">Daftar Sekarang</span></p>
      </div>
    </ion-list>
  </div>
</ion-content>
