<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Keranjang Anda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>
  <ion-list>
    <ion-card *ngFor="let p of cart">
      <ion-card-header>
        <ion-card-title>{{ p.nama }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>Rp. {{ p.harga }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- <div class="container-time">
      <span slot="title">Pilih waktu pengambilan</span>
      <ion-datetime presentation="time" size="cover" [(ngModel)]="tgl">
      </ion-datetime>
    </div> -->

    <div class="container-time">
      <ion-item>
        <ion-label
          ><ion-icon name="time-outline"></ion-icon> Waktu
          Pengambilan...</ion-label
        >
        <ion-input
          value="{{ date | date: 'HH.mm' }}"
          id="date"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime presentation="time" size="cover" [(ngModel)]="date">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </div>
    <!-- <p>
      {{formated_tgl}}
    </p>
    <ion-button (click)="formatTgl()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button> -->
    <ion-button (click)="checkout()" expand="block" shape="round">
      Bayar
    </ion-button>
  </ion-list>
</ion-content>
