<ion-app>
  <ion-router-outlet
    id="main-content"
    *ngIf="!nama_pembeli"
  ></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Beranda</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div class="container" *ngIf="!nama_pembeli && isLogin == 'login'">
    <ion-list>
      <div class="content-top">
        <p><img src="assets/bg-login.png" alt=""></p>
        <p><span class="top-txt">Selamat Datang!</span></p>
        <p><span class="bot-txt">Pesan Makanan di Kantin dari Kelas!</span></p>
      </div>
      <div class="content-pembeli">
        <ion-item class="mt-5">
          <ion-label>Username</ion-label>
          <ion-input
            [(ngModel)]="username_pembeli"
            label="Username"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Password</ion-label>
          <ion-input
            [(ngModel)]="password_pembeli"
            label="Password"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-button
          style="margin: 20px 13px 0px 13px"
          expand="block"
          (click)="loginPembeli()"
          shape="round"
        >
          LOGIN
        </ion-button>
        <p style="font-weight: bold" (click)="register()">
          Ingin rasakan nikmatnya Rinjani?
          <span style="color: blue">Daftar Sekarang</span>
        </p>
      </div>
    </ion-list>
  </div>

  <div class="container-register" *ngIf="isLogin == 'register'">
    <ion-list>
      <div class="content-top">
        <p><img src="assets/bg-register.png" alt=""></p>
        <p><span class="top-txt">Registrasi Rinjani</span></p>
        <p><span class="bot-txt">Pesan Makanan di Kantin dari Kelas!</span></p>
      </div>
      <div class="content-pembeli">
        <ion-item class="mt-5">
          <ion-label>Nama Lengkap</ion-label>
          <ion-input
            [(ngModel)]="new_nama"
            label="Nama Lengkap"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Nomor HP</ion-label>
          <ion-input
            [(ngModel)]="new_tlp"
            label="Nomor HP"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Email</ion-label>
          <ion-input
            [(ngModel)]="new_email"
            label="Email"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Username</ion-label>
          <ion-input
            [(ngModel)]="new_username"
            label="Username"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Password</ion-label>
          <ion-input
            [(ngModel)]="new_password"
            label="Password"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-button
          style="margin: 20px 13px 0px 13px"
          expand="block"
          (click)="registerPembeli()"
          shape="round"
        >
          Register
        </ion-button>
        <p style="font-weight: bold" (click)="login()">
          Sudah Memiliki Akun Rinjani?
          <span style="color: blue">Login Disini</span>
        </p>
      </div>
    </ion-list>
  </div>
</ion-app>
