.container, .container-register{
    margin: 20px;
    height: auto;
    text-align: center;
    color: black;
}

.content-pembeli{
    margin: 0px 60px 0px 60px;
}

.mt-5{
    margin-top: 25px;
}

.top-txt{
    font-size: 40px;
}

.bot-txt{
    
    font-size: 13px;
    
}