.container-item {
  margin: 15px;
}

ion-fab-button {
  height: 7vh;
  width: 450px;
  --border-radius: 10px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 2em;
  min-width: 25px;
  z-index: 10;
}

.judul {
  text-align: center;
  margin: 30px 0px 50px 0px;
}

.border-card {
  border: groove; /* Change the color and width according to your preference */
  border-radius: 10px; /* Adjust the border radius as needed */
  margin-bottom: 10px; /* Optional: Add margin for spacing between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle lift effect */
}
