<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let tokos of toko" routerLink="/detailtoko/{{tokos.id}}">
      <img alt="Silhouette of mountains" src="{{tokos.url_gambar}}" width="100%" height="100%"  />
      <ion-card-header>
        <ion-card-title>{{tokos.nama}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span>Ini Toko</span>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
