.container-menu,
.container-home {
  margin: 15px;
}

.container-home {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nama-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.pesanan-home {
  background-color: #f7f2fa;
  border-radius: 10px;
  width: 80%;
  height: 160px;
  clear: both;
  text-align: left;
  font-size: 1rem;
  color: black;
}

.pesanan-home button {
  background-color: #e8def8;
  width: 100%;
  height: 70px;
  border-radius: 35px;
  text-align: left;
}

.btn-kluwih {
  color: black;
  float: left;
  margin-left: 2em;
  font-size: 15px;
}

.btn-kluwih-toko {
  color: black;
  margin-right: 5vh;
  float: right;
  font-size: 15px;
}

.pesanan-home-content {
  margin: 30px;
}

ion-fab-button {
  height: 7vh;
  width: 450px;
  --border-radius: 10px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 2em;
  min-width: 25px;
  z-index: 10;
}

.judul {
  text-align: center;
  margin: 30px 0px 50px 0px;
}

.border-card {
  border: groove; /* Change the color and width according to your preference */
  border-radius: 10px; /* Adjust the border radius as needed */
  margin-bottom: 10px; /* Optional: Add margin for spacing between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle lift effect */
}

.produk-home {
  text-align: center;
}

.nProduk {
  font-size: 23px;
}

.nToko {
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .btn-kluwih {
    color: black;
    float: left;
    margin-left: 5px;
    font-size: 14px;
  }

  .btn-kluwih-toko {
    color: black;
    margin-right: 20px;
    float: right;
    font-size: 14px;
  }

  .pesanan-home button {
    background-color: #e8def8;
    width: 100%;
    height: 60px;
    border-radius: 35px;
    text-align: left;
  }

  .pesanan-home {
    height: 140px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nProduk {
    font-size: 19px;
  }

  .nToko {
    font-size: 14px;
  }

  ion-fab-button {
    height: 5vh;
    width: 300px;
    
  }
}
