<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-list>
      <div class="content-top">
        <p><span class="top-txt">Registrasi Rinjani</span></p>
        <p><span class="bot-txt">Pesan Makanan di Kantin dari Kelas!</span></p>
      </div>
      <div class="content-pembeli">
        <ion-item class="mt-5">
          <ion-label>Nama Lengkap</ion-label>
          <ion-input
            [(ngModel)]="new_nama"
            label="Nama Lengkap"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Nomor HP</ion-label>
          <ion-input
            [(ngModel)]="new_tlp"
            label="Nomor HP"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Email</ion-label>
          <ion-input
            [(ngModel)]="new_email"
            label="Email"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Username</ion-label>
          <ion-input
            [(ngModel)]="new_username"
            label="Username"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item class="mt-5">
          <ion-label>Password</ion-label>
          <ion-input
            [(ngModel)]="new_password"
            label="Password"
            label-placement="floating"
            fill="outline"
          ></ion-input>
        </ion-item>
        
        <ion-button
          style="margin: 20px 13px 0px 13px"
          expand="block"
          (click)="registerPembeli()"
          shape="round"
        >
          Register
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
